* {
    margin: 0;
    padding: 0;
 
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}
input {
    margin: 5px;
    padding: 5px;
}
button {
    padding: 4px;
}
#tasks {
    height: 50vh;
    width: 655px;
    margin: 30px;
    border: solid black 1px;
    overflow-y: scroll;
     
}
.newElementWrapper {
    width: 30vw;
    min-width: 400px;
    border: solid 1px;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}
.newElementWrapper > * {
    margin: 3px;
}
#submit {
    margin: 10px;
}
h1 {
    font-size: 70px;
    margin-bottom: 50px;
}
.remove {
    background-color: rgb(255, 100, 100);
}
/* width */
#tasks::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #tasks::-webkit-scrollbar-track {
    background: #ebebeb;
  }
  
  /* Handle */
  #tasks::-webkit-scrollbar-thumb {
    background: rgb(201, 201, 201);
  }
  
  /* Handle on hover */
  #tasks::-webkit-scrollbar-thumb:hover {
    background: rgb(143, 143, 143);
  }